<div class="form-group">
      <h5>Search:</h5>
      <input type="text" class="form-control" value="" placeholder="Search by client name" [(ngModel)]="filterClientKeyWord">
    </div>
    <table class="table table-hover">
      <thead class="thead-light text-white">
        <tr class=" bg-secondary">
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>City</th>
          <th>Post Code</th>
          <th>Country</th>
          <th style="width:120px">Admin</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td><input type="text" class="form-control" #newClientName /></td>
          <td><input type="text" class="form-control" #newClientEmail /></td>
          <td><input type="text" class="form-control" #newClientAddress /></td>
          <td><input type="text" class="form-control" #newClientCity /></td>
          <td><input type="text" class="form-control" #newClientPostCode /></td>
          <td><input type="text" class="form-control" #newClientCountry /></td>
          <td><button class="btn btn-outline-primary  btn-sm" (click)="addClient(
            newClientName.value,
            newClientEmail.value,
            newClientAddress.value,
            newClientCity.value,
            newClientPostCode.value,
            newClientCountry.value
          )"><i class="material-icons">add_box</i></button></td>
        </tr>
        <tr *ngFor="let client of clients | async | clientFilter:filterClientKeyWord ; let i = index;">
          <th scope="row">{{i+1}}</th>
          <td><input type="text" class="form-control" #updateClientName [value]="client.name" /></td>
          <td><input type="text" class="form-control" #updateClientEmail [value]="client.email" /></td>
          <td><input type="text" class="form-control" #updateClientAddress [value]="client.address" /></td>
          <td><input type="text" class="form-control" #updateClientCity [value]="client.city" /></td>
          <td><input type="text" class="form-control" #updateClientPostCode [value]="client.postcode" /></td>
          <td><input type="text" class="form-control" #updateClientCountry [value]="client.country" /></td>
          <td> <button class="btn btn-outline-primary  btn-sm" (click)="updateClient(
            client.$key,
             updateClientName.value,
             updateClientEmail.value,
             updateClientAddress.value,
             updateClientCity.value,
             updateClientPostCode.value,
             updateClientCountry.value
             )"><i class="material-icons">edit</i></button>
            <button class="btn btn-outline-danger  btn-sm" (click)="deleteClient(client.$key)"><i class="material-icons">delete</i></button></td>
        </tr>
      </tbody>
    </table>