<div class="row">
  <div class="col-md-4 unpritable">
    <label>Choose Client:</label>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle  form-control" type="button" id="dropdownClientsButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
    Choose Client:
  </button>
      <div class="dropdown-menu  form-control" aria-labelledby="dropdownClientsButton">
        <input type="text" class="form-control" value="" [(ngModel)]="filterClientKeyWord">
        <a *ngFor="let client of clients | async | clientFilter:filterClientKeyWord " class="dropdown-item" href="#" (click)="clientSeleted(client)">{{client.name}}</a>
      </div>
    </div>



    <label>Choose Books:</label>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle  form-control" type="button" id="dropdownBooksButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
    Choose Books:
  </button>
      <div class="dropdown-menu  form-control" aria-labelledby="dropdownBooksButton">
        <input type="text" class="form-control" value="" [(ngModel)]="filterBookKeyWord">
        <a *ngFor="let book of books | async | bookFilter:filterBookKeyWord " class="dropdown-item" href="#" (click)="bookSeleted(book)">{{book.name}}</a>
      </div>
    </div>

    <div class="form-control" [hidden]="addBookToInvoiceDivHidden">
      <div class="row">
        <h6 class="col-md-7 ">{{selectedBook?.name}}</h6>
        <input class="form-control  col-md-2" type="number" [value]="1" #selectedBookQty>
        <button class="btn btn-danger  col-md-2" (click)="addBookToInvoice(selectedBook,selectedBookQty.value)">Add</button>
      </div>
    </div>

    <button class="btn btn-danger" onclick="window.print()">Print</button>
  </div>


  <div class="col-md-8" id="invoicePrintable">
    <invoice-detail [invoice]="invoice"></invoice-detail>
    <div>
    </div>