<div class="form-group">
  <h5>Search:</h5>
  <input type="text" class="form-control" value="" placeholder="Search by item description" [(ngModel)]="filterBookKeyWord">
</div>
<table class="table table-hover">
  <thead class="thead-light text-white">
    <tr class=" bg-secondary">
      <th>#</th>
      <th>Item Description</th>
      <th style="width:150px">Price (GST Excl.)</th>
      <th style="width:120px">Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><input type="text" class="form-control" #newBookName /></td>
      <td><input type="text" class="form-control" #newBookPrice /></td>
      <td><button class="btn btn-outline-primary btn-sm" (click)="addBook(newBookName.value,newBookPrice.value)"><i class="material-icons">add_box</i></button></td>
    </tr>
    <tr *ngFor="let book of books | async | bookFilter:filterBookKeyWord ; let i = index;">
      <th scope="row">{{i+1}}</th>
      <td><input type="text" class="form-control" #updateBookName [value]="book.name" /></td>
      <td><input type="text" class="form-control" #updateBookPrice [value]="book.price" /></td>
      <td>
        <button class="btn btn-outline-primary btn-sm" (click)="updateBook(book.$key, updateBookName.value,updateBookPrice.value)"><i class="material-icons">edit</i></button>
        <button class="btn btn-outline-danger btn-sm" (click)="deleteBook(book.$key)"><i class="material-icons">delete</i></button>
      </td>
    </tr>
  </tbody>
</table>