<div class="row">
  <div class="col-md-4 unpritable">
    <label>Choose Invoice:</label>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle  form-control" type="button" id="dropdownInvoicesButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
    Choose Invoice:
  </button>
      <div class="dropdown-menu  form-control" aria-labelledby="dropdownInvoicesButton">
        <input type="text" class="form-control" value="" [(ngModel)]="filterInvoiceKeyWord">
        <a *ngFor="let invoice of invoices | async | invoiceFilter:filterInvoiceKeyWord " class="dropdown-item" href="#" (click)="invoiceSeleted(invoice)">{{invoice.invoiceNumber}}</a>
      </div>
    </div>


    <div class="col-md-8" id="invoicePrintable" [hidden]="invoice==null">
      <invoice-detail [invoice]="invoice"></invoice-detail>
      <div>
      </div>