<div *ngIf="invoice!=null" class="row d-flex justify-content-end ">

  <button *ngIf="!invoice.isPaid" class="btn btn-primary m-2 unprintable" (click)="pay(invoice.$key)">Confirm Payment</button>
  <button class="btn btn-danger m-2 unprintable" (click)="delete(invoice.$key)"><i class="material-icons">delete</i></button>

</div>
<div class="row d-flex justify-content-center">
  <div class="col-md-4 unprintable">
    <div>
      <h5>Choose Invoice:</h5>


      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle  form-control" type="button" id="dropdownInvoicesButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Choose Invoice:
  </button>

  <div class="dropdown-menu scrollable-menu form-control" aria-labelledby="dropdownInvoicesButton">
    <input type="text" class="form-control" value="" placeholder="Search by invoice# or client name" [(ngModel)]="filterInvoiceKeyWord">
  <a  *ngFor="let invoice of filteredInvoices | invoiceFilter:filterInvoiceKeyWord | orderBy:order:ascending" class="dropdown-item" (click)="invoiceSeleted(invoice)">{{invoice.invoiceNumber}} - {{invoice.client.name}}</a>
  </div>

      </div>
    </div>

    <div *ngIf="invoice!=null">
      <h5>Print:</h5>
      <div class="d-flex flex-column">
        <button class="btn btn-primary w-100" (click)="print()">Print</button>
      </div>
    </div>



  </div>

  <div class="col-md-8" *ngIf="invoice!=null">
    <invoice-detail [invoice]="invoice "></invoice-detail>
    <div>

    </div>