

.form-control:disabled {
    cursor: text;
    border: 0;
    background-color: unset;
    padding:0;
    line-height: 1rem;
}

.btn.disabled, .btn:disabled {
    display: none;
    }

div{
    line-height:1.2;
}

table{
     border-top:1px solid black;
     border-bottom:1px solid black;
}

.table thead th {
    border-bottom: 1px solid black;
    vertical-align: middle;
}

.table tbody td {
    border-bottom: 0px solid black;
    vertical-align: middle;
}

.table thead td {
    border-bottom: 1px solid black;
    vertical-align: middle;
}

.table td, .table th {
    border-top: 0px solid black; 
    vertical-align: middle;
}

.border{
    border:1px solid black !important;
    margin-bottom:1rem;   
}

.p-4 {
    padding: 1.3rem !important;          
    padding-left: 0.5rem !important; 
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}