<div class="page ">
  <!--Company-->
  <div class="d-flex justify-content-start align-items-end">
    <div class="p-4">
      <div>{{invoice?.paymentInfo?.name}}</div>
      <div>{{invoice?.paymentInfo?.address}}</div>
      <div>{{invoice?.paymentInfo?.city}} {{invoice?.paymentInfo?.postcode}}</div>
      <div>{{invoice?.paymentInfo?.country}}</div>
    </div>
    <div class="p-4 ml-auto">
      <div>{{invoice?.paymentInfo?.contact}}</div>
      <div>{{invoice?.paymentInfo?.email}}</div>
    </div>
    <div class="p-4 ml-auto">
      <h1 class="text-right">Tax Invoice</h1>
      <div class="text-right">Invoice#: {{invoice?.invoiceNumber}}</div>
      <div class="text-right">GST#: {{invoice?.paymentInfo?.gstNumber}}</div>
    </div>
  </div>

  <hr>

  <!--Deliver to-->
  <div class="d-flex justify-content-start  align-items-center ">
    <div class="p-4">
      <h5>Bill To:</h5>
      <div>{{invoice?.client?.name}}</div>
      <div>{{invoice?.client?.address}}</div>
      <div>{{invoice?.client?.city}} {{invoice?.client?.postcode}}</div>
      <div>{{invoice?.client?.country}}</div>
    </div>
    <div class="p-4 ml-auto">
      <div class="text-right">Order #: {{invoice?.orderNumber}}</div>
      <div class="text-right">Date: {{invoice?.date | date: 'dd MMM yyyy'}}</div>
    </div>
  </div>

  <!--Order Detail-->
  <table class="table table-hover  " style="page-break-inside:auto">
    <thead class="thead-light">
      <tr>
        <th class="w-50">Item</th>
        <th class="text-center">Price</th>
        <th class="text-center">Qty</th>
        <th class="text-center">Disc.(%)</th>
        <th class="text-center">Total</th>
        <th *ngIf="isEditable" class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of invoice?.books ">
        <td>{{book.name}}</td>
        <td class="text-center">{{book.price | currency:'NZD':true:'1.2-2'}}</td>
        <td><input type="number" [disabled]="!isEditable" class="form-control text-center" style="    width: 60px !important;"
            #updateBookQuantity [value]="book.quantity" (change)="quantityChanged(book,updateBookQuantity.value)" /></td>
        <td><input type="text" [disabled]="!isEditable" class="form-control text-center" style="    width: 60px !important;"
            #updateBookDiscount [value]="book.discount  |  number : '1.2-2'" (change)="discountChanged(book,updateBookDiscount.value)"
          /></td>
        <td class="text-center">{{book.total | currency:'NZD':true:'1.2-2'}}</td>

        <td *ngIf="isEditable">
          <button class="btn btn-danger btn-sm" [disabled]="!isEditable" (click)="deleteBookInInvoice(book)"><i _ngcontent-c1="" class="material-icons">delete</i></button></td>
      </tr>



    </tbody>
  </table>
  <!--Order Total-->
  <table class="table table-sm border-top-0" style="page-break-inside:auto">
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="col text-right ">Sub Total: </td>
        <td>{{invoice?.subTotal | currency:'NZD':true:'1.2-2'}}</td>
        <td *ngIf="isEditable"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="col text-right ">Postage: </td>
        <td>{{invoice?.postage | currency:'NZD':true:'1.2-2'}}</td>
        <td *ngIf="isEditable"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="col text-right ">GST: </td>
        <td>{{invoice?.gst | currency:'NZD':true:'1.2-2'}}</td>
        <td *ngIf="isEditable"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="col font-weight-bold text-right ">Total: </td>
        <td class="font-weight-bold">{{invoice?.total | currency:'NZD':true:'1.2-2'}}</td>
        <td *ngIf="isEditable"></td>
      </tr>
    </tbody>
  </table>



  <div class="border d-print-block" style="page-break-inside:auto">
    <h6 class="text-center">PLEASE DETACH AND RETURN WITH YOUR REMITTANCE TO</h6>

    <div class="d-flex justify-content-start ">
      <div class="p-4" style="padding-top:1rem!important;padding-bottom: 1rem!important">
        <div>{{invoice?.paymentInfo?.name}}</div>
        <div>{{invoice?.paymentInfo?.address}}</div>
        <div>{{invoice?.paymentInfo?.city}} {{invoice?.paymentInfo?.postcode}}</div>
        <div>{{invoice?.paymentInfo?.country}}</div>
      </div>

      <div class="p-4 ml-auto" style="padding-top:1rem!important;padding-bottom: 1rem!important">
        <div>Customer: {{invoice?.client?.name}}</div>
        <div>Invoice No. <strong> {{invoice?.invoiceNumber}}</strong></div>
        <div>Total:<strong> {{invoice?.total | currency:'NZD':true:'1.2-2'}}</strong></div>
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="p-4 " style="padding-top:0rem!important;padding-bottom: 0rem!important">Direct Credit: Please quote the invoice number in the Code field of your Direct Credit.</div>
      <div class="p-4 " style="padding-top:0rem!important;padding-bottom:0.5rem!important">Account No. <strong>{{invoice?.paymentInfo?.accountNumber}}</strong> ; Account Name: <strong>{{invoice?.paymentInfo?.accountName}}</strong></div>
    </div>
  </div>
</div>




<!--Parcel Slip-->
<div class="d-plex border d-print-block">
  <div class="p-4">
    <h6></h6>
    <h3>To:</h3>
    <h4>{{invoice?.client?.name}}</h4>
    <h4>{{invoice?.client?.address}}</h4>
    <h4>{{invoice?.client?.city}} {{invoice?.client?.postcode}}</h4>
    <h4>{{invoice?.client?.country}}</h4>
    <p></p>
    <div>Sender: {{invoice?.paymentInfo?.name}},{{invoice?.paymentInfo?.address}},{{invoice?.paymentInfo?.city}} {{invoice?.paymentInfo?.postcode}},
      {{invoice?.paymentInfo?.country}}
    </div>
  </div>
</div>

<!--Parcel Slip-->
<div class="d-plex border d-print-block">
  <div class="p-4">
    <h6></h6>
    <h3>To:</h3>
    <h4>{{invoice?.client?.name}}</h4>
    <h4>{{invoice?.client?.address}}</h4>
    <h4>{{invoice?.client?.city}} {{invoice?.client?.postcode}}</h4>
    <h4>{{invoice?.client?.country}}</h4>
    <p></p>
    <div>Sender: {{invoice?.paymentInfo?.name}},{{invoice?.paymentInfo?.address}},{{invoice?.paymentInfo?.city}} {{invoice?.paymentInfo?.postcode}},
      {{invoice?.paymentInfo?.country}}
    </div>
  </div>
</div>