/* You can add global styles to this file, and also import other style files */

@media print{
    nav{
        display: none !important;
    }

        button{
            display: none;
        }
        input{
            border: 0;
        }
        .tab-content{
            margin-top: 0px !important;
        }
        div.page
          {
            page-break-after: always;
            page-break-inside: always;
          }
    }